.loader {
  /* Loader full screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease forwards;
  animation-delay: 2s;
}

/* Contenu du loader */
.loader-content {
  text-align: center;
}

/* Logo avec animation de scale et fade-in */
.loader-content .logo {
  width: 150px;
  animation: scaleLogo 2s ease;
}

/* Animation du logo */
@keyframes scaleLogo {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animation pour faire disparaître le loader */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}






.hp-container {
  max-width: 1600px;
  width: 100%;
  min-height: fit-content;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left-section {
  height: 100%;
  width: 52%;
}



/* Conteneur main text */
.maquette-wrapper {
  position: relative;
  width: fit-content;
  max-width: 1000px;
  letter-spacing: 5px;
  z-index: 111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Style de base pour chaque ligne/bloc de texte */

.lines {
  padding: 5px 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.line {
  position: relative;
  font-size: calc(0.8rem + 2vw);
  font-family: var(--font-heading);
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  z-index: 999;
  margin-right: 12px;
}

@media (min-width: 1600px) {
  .line {
    font-size: calc(0.5rem + 31px);
  }
}


/* --- 1) TEXTE VIOLET (remplissage) --- */
.purple-filled {
  color: var(--secondary-color);
}

/* Soulignement en vague pour la première ligne violette */
.wave-underline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--secondary-color);
}

.orange-outlined {
  color: #FFFFFF;
  position: relative;
}

.orange-outlined::before,
.purple-outlined:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-text-stroke: 4px var(--tertiary-color);
  text-stroke: 4px var(--tertiary-color);
  pointer-events: none;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
  z-index: -1;
}

.orange-outlined::before {
  -webkit-text-stroke: 5px var(--tertiary-color);
  text-stroke: 6px var(--tertiary-color);
}

.purple-outlined:before {
  -webkit-text-stroke: 5px var(--secondary-color);
  text-stroke: 6px var(--secondary-color);
}


.dotted-rectangle {
  display: inline-block;
  padding: 2px 10px;
  border: 3px dashed var(--tertiary-color);
  border-radius: 8px;
  background: #fff;
}

.dotted-rectangle span {
  margin: 0;
}



.info-container {
  position: relative;
  margin-top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 38px 30px;
  width: 83%;
  max-height: 116px;
  border-right: 20px solid var(--secondary-color);
  box-shadow: 0 6px 13px 4px #00000017;
}

.info-container .text-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.info-container .text-container p {
  text-align: left;
  font-size: calc(0.1rem + 1vw);
}

@media (min-width: 1600px) {
  .info-container .text-container p {
    font-size: calc(0.1rem + 15px);
  }
}


.info-container .triangle {
  height: 30px;
  width: 16px;
  z-index: 999;
  position: absolute;
  right: -30px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: var(--secondary-color);
}

.info-container .hero-line {
  position: absolute;
  right: -122px;
  top: -110px;
}



.hero-left-bottom-section {
  width: 100%;
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* .hero-test-btn {
  position: relative;
  border: none;
  gap: 5px;
  background: linear-gradient(45deg, var(--primary-color), #BD83F7, #FF82BE);
  margin: 50px 0;
  padding: 15px 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.2rem;
  transition: all ease-in-out 200ms;
  overflow: hidden;
}
.hero-test-btn .hover-bg-color {
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
  filter: blur(30px);
  z-index: 0;
}
.hero-test-btn > span,
.hero-test-btn > img {
  position: relative;
  z-index: 1;
}
.hero-test-btn:hover .hover-bg-color {
  transform: scaleX(1);
} */

.hero-test-btn {
  position: relative;
  cursor: pointer;
  margin: 50px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(0deg, #bd83f7, #ff82be);
  transition: all ease-in-out 200ms;
}

.hero-test-btn .gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.hero-test-btn .gradient-container .gradient-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  animation: fadeCycle 8s ease-in-out infinite;
}

.hero-test-btn .gradient-container .gradient1 {
  background: linear-gradient(45deg, var(--primary-color), #BD83F7, #FF82BE);
  animation-delay: 0s;
}

.hero-test-btn .gradient-container .gradient2 {
  background: linear-gradient(60deg, #FF82BE, var(--primary-color), #BD83F7);
  animation-delay: 2s;
}

.hero-test-btn .gradient-container .gradient3 {
  background: linear-gradient(120deg, #BD83F7, #FF82BE, var(--primary-color));
  animation-delay: 4s;
}

.hero-test-btn .gradient-container .gradient4 {
  background: linear-gradient(135deg, var(--primary-color)), #BD83F7, #FF82BE;
  animation-delay: 6s;
}

@keyframes fadeCycle {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.8;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

.hero-test-btn>* {
  position: relative;
  z-index: 2;
}


.hero-test-btn .hover-bg-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
  filter: blur(30px);
  z-index: 0;
}

.hero-test-btn>span,
.hero-test-btn>img {
  position: relative;
  z-index: 1;
}
.hero-test-btn>span {
  margin-right: 5px;
}

.hero-test-btn:hover .hover-bg-color {
  transform: scaleX(1);
}

.hero-test-btn .button-svg {
  height: 18px;
  filter: brightness(0) invert(1);
}




.ad-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.ad-container .ad-son-container {
  width: 100%;
  height: 160px;
  border-radius: 20px;
  box-shadow: 0 6px 13px 4px #00000017;
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 34px;
}

.ad-container .social-container .verified-icon {
  position: absolute;
  top: -20px;
  left: 20px;
  height: 40px;
}

.ad-container .social-container .text-container p {
  color: var(--tertiary-color);
  text-align: left;
  margin: 2px 0;
}

.ad-container .social-container p .rounded {
  font-weight: bold;
  padding: 0 6px;
  border: 3px solid var(--tertiary-color);
  border-radius: 30px;
}

.ad-container .social-container p .squared {
  font-weight: bold;
  padding: 0 6px;
  border: 3px solid var(--tertiary-color);
  border-radius: 3px;
}

.ad-container .social-container ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ad-container .social-container ul li {
  width: 11%;
}

.ad-container .social-container ul li img {
  height: auto;
  width: 100%;
  display: block;
}



.ad-container .feature-container {
  background: #00C373;
  box-shadow: none;
}


.ad-container .feature-container p {
  color: #fff;
  text-align: left;
  margin: 2px 0;
}

.ad-container .feature-container p .rounded {
  font-weight: bold;
  padding: 0 6px;
  border: 3px solid #fff;
  border-radius: 30px;
}

.ad-container .feature-container p .squared {
  font-weight: bold;
  padding: 0 6px;
  border: 3px solid #fff;
  border-radius: 3px;
}

.ad-container .feature-container ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 24px;
  margin-top: 40px;
}

.ad-container .feature-container ul li {
  width: 30%;
}

.ad-container .feature-container ul li:nth-child(3) {
  width: 10%;
}

.ad-container .feature-container ul li img {
  width: 100%;
  height: auto;
  display: block;
}









/* Style de base pour la page (optionnel) */
/* .main-bento-shape {
  position: relative;

  width: 570px;
  height: 1000px;
  background-color: transparent;
  clip-path: path('M 164,91 L 164,50 A 58,50 0 0 1 222,0 L 512,0 A 58,50 0 0 1 570,50 L 570,950 A 58,50 0 0 1 512,1000 L 222,1000 A 58,50 0 0 1 164,950 L 164,887 A 58,50 0 0 0 105,836 L 59,836 A 58,50 0 0 1 0,786 L 0,191 A 58,50 0 0 1 59,141 L 105,141 A 58,50 0 0 0 164,91 Z');
  clip-path: path('M 28.77%,9.1% L 28.77%,5% A 10.18%,5% 0 0 1 38.95%,0 L 89.82%,0 A 10.18%,5% 0 0 1 100%,5% L 100%,95% A 10.18%,5% 0 0 1 89.82%,100% L 38.95%,100% A 10.18%,5% 0 0 1 28.77%,95% L 28.77%,88.7% A 10.18%,5% 0 0 0 18.42%,83.6% L 10.35%,83.6% A 10.18%,5% 0 0 1 0%,78.6% L 0%,19.1% A 10.18%,5% 0 0 1 10.35%,14.1% L 18.42%,14.1% A 10.18%,5% 0 0 0 28.77%,9.1% Z');
  -webkit-clip-path: path('M 164,91 L 164,50 A 58,50 0 0 1 222,0 L 512,0 A 58,50 0 0 1 570,50 L 570,950 A 58,50 0 0 1 512,1000 L 222,1000 A 58,50 0 0 1 164,950 L 164,887 A 58,50 0 0 0 105,836 L 59,836 A 58,50 0 0 1 0,786 L 0,191 A 58,50 0 0 1 59,141 L 105,141 A 58,50 0 0 0 164,91 Z');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .main-bento-shape {
  position: relative;
  display: inline-block;
  width: 32%;
  aspect-ratio: 570 / 1000;
  height: auto;
}

.bento-svg {
  display: block;
  height: 100%;
  z-index: 1;
} */



.main-bento-shape {
  position: relative;
  width: 30%;
  height: auto;
  border-radius: 30px;
  background: #fff;
}

.main-bento-shape .bento-container {
  width: 100%;
  height: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
}

.main-bento-shape .bento-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}


.main-bento-shape .main-image {
  position: absolute;
  top: 0;
  left: 50%;
  height: 820px;
  width: auto;
}


.active-users {
  position: absolute;
  z-index: 888;
  display: flex;
  background: #ffffff32;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 3px #0000001d;
  top: 30px;
  right: 30px;
  padding: 15px 20px;
  color: var(--secondary-color);
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.active-users .users-count {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.active-users p {
  font-size: 18px;
  margin: 10px 0;
}

.active-users .users-icon {
  height: 35px;
}


.google-reviews {
  position: absolute;
  bottom: 220px;
  left: 30px;
  z-index: 888;
  display: flex;
  background: #ffffff32;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 3px #0000001d;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.active-users:hover,
.google-reviews:hover {
  background: #ffffff3c;
  backdrop-filter: blur(30px);
}

.active-users::before,
.google-reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  background-size: cover;
  opacity: 0.20;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.google-reviews .container {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-reviews .center {
  border-width: 0 2px;
  border-style: solid;
  border-color: #fff;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: flex-start;
}

.google-reviews .container .rank {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.google-reviews .container .stars {
  height: 5px;
}

.google-reviews .container p {
  font-size: 10px;
  color: #fff;
}

.google-reviews .container .google-icon {
  height: 45px;
}


.scroll-down-container {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 30px;
  min-width: 160px;
  width: 160px;
  height: 160px;
  background: var(--tertiary-color);
  color: #fff;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 200ms;
  z-index: 888;
  box-shadow: 0 6px 13px 4px #00000017;
}

.scroll-down-container:hover {
  background: var(--tertiary-color-hover);
}

.scroll-down-container:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  z-index: 888;
}

.dots-container li {
  width: 12px;
  height: 12px;
  background-color: #ffffff47;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dots-container li.active {
  background-color: #fff;
}









.hero-right-section {
  position: relative;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.testimonial-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.hero-right-section .testimonial {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 30px;
}

.hero-right-section .testimonial .check-testimonial {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 15px;
  min-width: 90px;
  width: 90px;
  height: 90px;
  background: var(--primary-color);
  color: #fff;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 200ms;
  cursor: pointer;
  z-index: 888;
}

.hero-right-section .testimonial .check-testimonial:hover {
  background: var(--primary-color-hover);
}

.hero-right-section .testimonial .check-testimonial i {
  transform: rotate(-135deg);
}

.hero-right-section .testimonial .bento-shape {
  position: absolute;
  top: 0;
  right: 0;
  height: 140px;
}

.hero-right-section .testimonial div {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.hero-right-section .testimonial div span {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  border-radius: 30px;
  background: #fff;
}

.hero-right-section .testimonial div span:nth-child(2) {
  background: var(--quaternary-color);
  color: #fff;
}

.hero-right-section .testimonial .testimonial-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  display: block;
}



.hero-right-section .arrow1-icon {
  position: absolute;
  top: 386px;
  right: -39px;
  width: 115px;
}

.hero-right-section .bottom-text {
  height: 391px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}


.hero-right-section .bottom-text h3 {
  font-weight: 200;
  font-size: calc(0.9rem + 1vw);
  text-align: left;
}

@media (min-width: 1600px) {
  .hero-right-section .bottom-text h3 {
    font-size: calc(1rem + 15px);
  }
}

.hero-right-section .bottom-text h3 span {
  color: var(--quaternary-color);
  font-weight: bold;
}

.hero-right-section .bottom-text p {
  position: relative;
  margin-top: 40px;
  font-weight: 200;
  text-align: left;
  width: fit-content;
}

.hero-right-section .bottom-text p span {
  color: var(--quaternary-color);
  font-weight: bold;
}

.hero-right-section .bottom-text p img {
  position: absolute;
  top: -10px;
  right: -15px;
}





/* section 2 */
.section2 {
  position: relative;
  margin: 200px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 .section2TextBehind {
  position: absolute;
  z-index: -111;
  width: 110%;
}

.section2 h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
  -webkit-text-stroke: 4px var(--secondary-color);
  text-stroke: 4px var(--secondary-color);
  margin-bottom: 80px;
}


.section2 .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section2 .main .left-side {
  height: 500px;
  max-height: 500px;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  margin-left: 30px;
}

.section2 .main .left-side .yellow-container {
  position: relative;
  width: 50%;
  height: 270px;
  background: #fff93f45;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 6px 13px 4px #00000017;
  z-index: 222;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.section2 .main .left-side .yellow-container:hover {
  backdrop-filter: blur(20px);
}

.section2 .main .left-side .yellow-container h3 {
  color: var(--secondary-color);
  font-weight: 200;
  text-align: left;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section2 .main .left-side .yellow-container p {
  color: var(--secondary-color);
  font-weight: light;
  text-align: left;
  font-size: 15px;
}


.section2 .main .left-side .yellow-container .light-Bulb {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 80px;
}



.section2 .main .left-side .photo-container {
  height: 100%;
  position: relative;
  width: 50%;
  background: #32ABBE;
  border-radius: 30px;
  box-shadow: 0 6px 13px 4px #00000017;
}

.section2 .main .left-side .photo-container .sparkle-decor {
  position: absolute;
  top: -44px;
  right: 38px;
  background: #ffffff0c;
  border: 1px solid #ffffff51;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  box-shadow: 0 6px 13px 4px #00000017;
  z-index: 333;
}

.section2 .main .left-side .photo-container .smile-decor {
  position: absolute;
  top: -64px;
  right: 87px;
  background: #ffffff0c;
  border: 1px solid #ffffff51;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  z-index: 444;
  box-shadow: 0 6px 13px 4px #00000017;
}

.section2 .main .left-side .photo-container .girlSection2 {
  position: absolute;
  width: 128%;
  bottom: 0;
  right: 0;
  z-index: 111;
  border-radius: 0 0 30px 50px;
}

.section2 .main .left-side .photo-container .section2shape {
  position: absolute;
  top: 0;
  right: 120px;
  width: 120%;
  z-index: 11;
}


.section2 .main .center,
.section2 .main .right-side {
  height: 500px;
  max-height: 500px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  margin-left: 30px;
  color: #fff;
}

.section2 .main .center .purple-container,
.section2 .main .center .blue-container {
  position: relative;
  width: 100%;
  height: 270px;
  background: #DC7BFF;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 6px 13px 4px #00000017;
  z-index: 222;
  overflow: hidden;
}

.section2 .main .center .blue-container {
  background: #2084F5;
  flex: 1;
}

.section2 .main .center .blue-container .blueContainerImg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70%;
  z-index: 111;
}

.section2 .main .center .purple-container h3 {
  color: #fff;
  font-weight: 200;
  text-align: left;
  font-size: 85px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section2 .main .center .blue-container h3,
.section2 .main .right-side .orange-container h3 {
  color: #fff;
  font-weight: 100;
  text-align: left;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  z-index: 222;
}

.section2 .main .center .purple-container p,
.section2 .main .center .blue-container p,
.section2 .main .right-side .orange-container p {
  color: #fff;
  font-weight: light;
  text-align: left;
  font-size: 15px;
  z-index: 222;
}



.section2 .main .right-side .orange-container {
  position: relative;
  width: 100%;
  height: 500px;
  background: #F35B1A;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 6px 13px 4px #00000017;
  z-index: 222;
  overflow: hidden;
}

.section2 .main .right-side .orange-container .orangeContainerImg {
  position: absolute;
  top: 20px;
  right: 0;
  height: 60%;
  z-index: 111;
}

.section2 .main .right-side .orange-container .whiteLogo {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 20%;
}

.section2 .main .left-side .yellow-container::before,
.section2 .main .center .purple-container::before,
.section2 .main .center .blue-container::before,
.section2 .main .right-side .orange-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  background-size: cover;
  opacity: 0.15;
  pointer-events: none;
  mix-blend-mode: multiply;
}





.section3 {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 150px 0;
}

.section3 .left-side {
  position: relative;
  width: 50%;
  border-radius: 30px;
  height: 550px;
  box-shadow: 0 6px 13px 4px #00000017;
  overflow: hidden;
}

.section3 .left-side .playbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #ffffffea;
  background: #ffffff28;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  z-index: 222;
}

.section3 .left-side .vidExemple-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section3 .left-side .vidExemple {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.section3 .left-side .vidExemple-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  opacity: 0.2;
  z-index: 111;
}


.section3 .right-side {
  position: relative;
  width: 50%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}


/* formattage des formes */
.section3 .right-side .pill {
  position: relative;
  font-family: var(--font-heading);
  background: var(--primary-color);
  border-radius: 100px;
  min-width: 180px;
  height: 70px;
  border: 5px solid var(--primary-color);
  padding: 0 20px;
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 3px #fff;
  text-stroke: 3px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .right-side .pill svg {
  height: 90%;
}

.section3 .right-side .circle {
  background: transparent;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 5px solid var(--primary-color);
}

/* style de chaque pill ou circle */
.section3 .right-side .orange-circle {
  border: var(--tertiary-color);
  background: var(--tertiary-color);
}

.section3 .right-side .blue-border-pill {
  color: var(--quaternary-color);
  background: transparent;
  -webkit-text-stroke: 3px var(--quaternary-color);
  text-stroke: 3px var(--quaternary-color);
}

.section3 .right-side .right-arrow {
  width: 220px;
  padding: 0 30px;
}

.section3 .right-side .right-arrow svg {
  position: absolute;
  right: 15px;
}

.section3 .right-side .right-arrow .arrow-line {
  border-radius: 10px;
  background: #fff;
  width: 100%;
  height: 5px;
}

.section3 .right-side .full-orange-border-pill {
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  background: transparent;
  -webkit-text-stroke: 3px var(--tertiary-color);
  text-stroke: 3px var(--tertiary-color);
}


.section3 .right-side .arrow45degDown {
  border-color: var(--quaternary-color);
  color: var(--quaternary-color);
}

.section3 .right-side .arrow45degDown i {
  transform: rotate(225deg);
}

.section3 .right-side .left-arrow {
  background: var(--quaternary-color);
  border-color: var(--quaternary-color);
  width: 280px;
  padding: 0 30px;
}

.section3 .right-side .left-arrow svg {
  position: absolute;
  left: 15px;
  transform: rotate(180deg);
}

.section3 .right-side .left-arrow .arrow-line {
  border-radius: 10px;
  background: #fff;
  width: 100%;
  height: 5px;
}

.section3 .right-side .blue-circle {
  background: var(--primary-color);
}

.section3 .right-side .orange-border-pill {
  border-color: var(--tertiary-color);
  color: var(--primary-color);
  background: transparent;
  -webkit-text-stroke: 3px var(--primary-color);
  text-stroke: 3px var(--primary-color);
}

.section3 .right-side .arrow45degUp {
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}

.section3 .right-side .arrow45degUp i {
  transform: rotate(-45deg);
}

.section3 .right-side .rose-border-pill {
  border-color: var(--quaternary-color);
  color: var(--quaternary-color);
  background: transparent;
  -webkit-text-stroke: 3px var(--quaternary-color);
  text-stroke: 3px var(--quaternary-color);
}
